:root {
  --accent: #fd9222;
  --white: #fff;
  --body-text: #111111;
  --violet: #1e1823;
  --gray: #4c4c4c;
  --beige: #fcf1e0;
  --light: #fafafa;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: var(--body-text);
  background-color: var(--light);
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

svg {
  display: block;
}

img {
  display: block;
}

ul {
  list-style: none;
}

button {
  background-color: transparent;
  color: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
}

input {
  border: none;
  background-color: transparent;
  outline: none;
  font-family: 'Montserrat', serif;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: var(--body-text);
}

.btn {
  font-family: 'Montserrat', serif;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 600;
  border-radius: 100px;
  padding: 12px 28px;
  display: block;
  transition: background-color 300ms, color 300ms, border-color 300ms;
}

.container {
  max-width: 375px;
  min-width: 320px;
  padding: 0 20px;
  margin: 0 auto;
}

.section {
  margin-bottom: 80px;
}

/* ! header */

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 14px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: 700;
  font-style: italic;
  line-height: 1.33;
  letter-spacing: -0.03em;
}

.nav-media-wrapper {
  display: flex;
  gap: 28px;
  align-items: center;
}

.nav {
  display: none;
  font-weight: 500;
  line-height: 1.15;
}

.nav__item,
.nav__link {
  transition: color 300ms;
}

.nav__item:hover,
.nav__item:active {
  color: var(--accent);
}
.nav__link:focus {
  color: var(--accent);
}

.header .social-media {
  display: none;
}

.menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ! mobile-menu */

.mobile-menu {
  display: flex;
  flex-direction: column;
  padding: 116px 20px 20px;
  position: fixed;
  top: 0;
  right: 0;
  width: 220px;
  height: 100%;
  background-color: var(--violet);
  transform: translateX(100%);
  transition: transform 300ms ease-in-out;
}

.mobile-menu.is-open {
  transform: translateX(0);
}

.mobile-menu__close {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.mobile-menu__list {
  font-weight: 500;
  line-height: 1.14;
  color: var(--white);
  margin-bottom: auto;
}

.mobile-menu__item:not(:last-of-type) {
  margin-bottom: 24px;
}

.current {
  color: var(--accent);
}

.social-media {
  display: flex;
  gap: 14px;
}

.social-media__item {
  width: 40px;
  height: 40px;
}

.social-media__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  cursor: pointer;

  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  transition: border-color 300ms, color 300ms;
}

.header .social-media__link {
  border: 1px solid rgba(17, 17, 17, 0.1);
}

.social-media__svg-fill {
  transition: fill 300ms;
}

.social-media__link:focus .social-media__svg-fill,
.social-media__link:hover .social-media__svg-fill,
.social-media__link:active .social-media__svg-fill {
  fill: var(--accent);
}

.social-media__link:hover,
.social-media__link:focus,
.social-media__link:active {
  border-color: rgba(253, 146, 34, 0.1);
}

/* ! hero */

.hero {
  margin-bottom: 80px;
}

.hero__inner {
  height: 620px;
  background-image: linear-gradient(rgba(17, 17, 17, 0.4), rgba(17, 17, 17, 0.4)),
    url(../images/hero-bg_mob@1x.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.hero__title {
  margin-top: auto;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: -0.03em;
  color: var(--white);
  margin-bottom: 32px;
  max-width: 293px;
}

.hero__bottom-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 32px 0;
}

.hero__btn-box {
  display: flex;
  gap: 14px;
}

.yellow-btn {
  color: var(--white);
  background-color: var(--accent);
}

.yellow-btn:hover,
.yellow-btn:focus,
.yellow-btn:active {
  color: var(--accent);
  background-color: rgba(252, 241, 224, 1);
}

.white-btn {
  color: var(--white);
  border: 1px solid var(--white);
}

.white-btn:hover,
.white-btn:focus,
.white-btn:active {
  color: #fd9222;
  border-color: #fd9222;
}

.scroll-btn {
  display: flex;
  align-items: center;
  gap: 12px;
  color: var(--white);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  font-weight: 500;
  transition: color 300ms;
}

.scroll-btn:hover,
.scroll-btn:focus,
.scroll-btn:active {
  color: var(--accent);
}

.scroll-btn:hover .scroll-btn__svg-box,
.scroll-btn:focus .scroll-btn__svg-box,
.scroll-btn:active .scroll-btn__svg-box {
  background-color: var(--accent);
}

.scroll-btn__svg-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: var(--white);
  /* margin-left: 12px; */
  transition: color 300ms, background-color 300ms;
}

.scroll-btn__svg-fill {
  transition: fill 300ms;
}

.scroll-btn:hover .scroll-btn__svg-fill,
.scroll-btn:focus .scroll-btn__svg-fill,
.scroll-btn:active .scroll-btn__svg-fill {
  fill: var(--white);
}

/* ! features */

.features {
  background-color: var(--violet);
  padding: 20px 0;
}

.visuality-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.features__item {
  min-height: 244px;
  margin-bottom: 20px;
}

.features__item:last-of-type {
  min-height: 225px;
  margin-bottom: 0px;
}

.features__box {
  width: 62px;
  height: 62px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 22px;
}

.features__item-title {
  font-weight: 600;
  font-size: 18px;
  color: var(--white);
  margin-bottom: 18px;
}

.features__item-text {
  color: rgba(255, 255, 255, 0.7);
}

/* ! components */

.h2 {
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  max-width: 283px;
  margin: 0 auto;
  padding-bottom: 32px;
}
.h2 span {
  color: var(--accent);
}

.components__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.components__item {
  position: relative;
  width: 100%;
  border-radius: 15px;
  height: 270px;
}

.components__item--accent {
  background-color: var(--accent);
}
.components__item--accent .components__svg-fill {
  stroke: var(--white);
}

.components__item--accent .components__text {
  color: var(--white);
}

.components__item--white {
  background-color: var(--white);
  border: 1px solid var(--accent);
}

.components__item--black {
  background-color: var(--violet);
}
.components__item--black .components__svg-fill {
  stroke: var(--white);
}

.components__item--black .components__text {
  color: var(--white);
}

.components__item-optional {
  display: none;
}

.components__svg {
  position: absolute;
  right: 14px;
  top: 14px;
}
.components__img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 32px 50px 16px 50px;
}
.components__text {
  font-weight: 600;
  line-height: 1.33;
  text-transform: uppercase;
  padding: 0 28px 28px 28px;
}

/* ! made */

.made__video {
  border-radius: 15px;
  height: 500px;
  width: 100%;
  background-image: url(../images/made_mob@1x.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
}

.made__descr {
  padding: 20px 14px;
  border-radius: 15px;
  background-color: var(--white);
}
.made__subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: normal;
  margin-bottom: 20px;
}

.made__list {
  line-height: 1.33;
}

.made__item {
  position: relative;
}

.made__item:not(:last-of-type) {
  margin-bottom: 18px;
}

.made__text {
  padding-left: 16px;
}

.made__text::before {
  position: absolute;
  content: '';
  height: 8px;
  width: 8px;
  background-color: var(--gray);
  border: 1px solid #eceded;
  border-radius: 50%;
  top: 5px;
  left: 0;
}

/* ! products */

.products__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}

.products__item {
  width: 100%;
  background-color: var(--white);
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
}
.products__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 0;
}
.product__img {
  margin-bottom: 8px;
}
.products__item-title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  margin-bottom: 2px;
}
.products__item-text {
  font-size: 12px;
  line-height: 1.17;
  color: rgba(17, 17, 17, 0.7);
  margin-bottom: 18px;
}
.products__item-price {
  display: inline-block;
  font-weight: 600;
  padding: 8px 20px;
  background-color: var(--light);
  border: 1px solid #1111111a;
  border-radius: 100px;
}

/* ! top-sellers */

.top-sellers__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
}
.top-sellers__item.second,
.top-sellers__item.third {
  display: none;
}
.top-sellers__box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  cursor: pointer;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.top-sellers__img {
  width: 100%;
  transition: filter 300ms;
}
.top-sellers__text {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  height: 100%;
  overflow-y: auto;
  line-height: 1.33;
  color: var(--white);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  opacity: 0;
  transition: opacity 500ms, backdrop-filter 500ms;
}
.top-sellers__title {
  text-transform: uppercase;
  padding: 24px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
}

/* ! reviews */

.reviews__list {
  margin-bottom: 32px;
}

.reviews__item {
  position: relative;
  text-align: center;
  background-color: var(--white);
  border: 1px solid #1111111a;
  border-radius: 15px;
  padding: 56px 18px 24px;
  height: 200px;
  margin-top: 42px;
}
.reviews__item.second {
  display: none;
}
.reviews__item.third {
  display: none;
}
.reviews__item-img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
.reviews__item-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  margin-bottom: 24px;
}
.reviews__item-text {
  color: #111111b2;
  max-height: 69px;
  overflow: auto;
}
.reviews__btn {
  margin: 0 auto;
  border: 1px solid var(--accent);
}

.reviews__btn:hover,
.reviews__btn:focus,
.reviews__btn:active {
  color: var(--white);
  background-color: var(--accent);
}

/* ! pop-up */

.pop-up {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  transition: opacity 300ms, visibility 300ms;
}
.pop-up.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.pop-up__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 311px;
  padding: 0 24px;
  background-color: var(--light);
  border-radius: 14px;
}
.pop-up__close {
  position: absolute;
  top: 14px;
  right: 14px;
}

.pop-up__title {
  text-align: left;
  margin: 0;
  margin-top: 46px;
}

.pop-up__form {
}

.pop-up__form-box {
  margin-bottom: 14px;
}

.pop-up__label {
  display: block;
  color: #4040404d;
  margin-bottom: 4px;
}
.pop-up__input {
  position: relative;
  font-size: 12.5px;
  width: 100%;
  height: 46px;
  padding: 0 43px 0;
  border: 1.5px solid #1111110d;
  border-radius: 8px;
  transition: border-color 300ms;
}

.pop-up__input:not(:placeholder-shown):invalid {
  border-color: rgba(231, 74, 59, 1);
}

.invalid {
  position: absolute;
  top: 50%;
  right: 18px;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 300ms;
  pointer-events: none;
}
.pop-up__input:not(:placeholder-shown):invalid ~ .invalid {
  opacity: 1;
}
.pop-up__input:not(:placeholder-shown):invalid + .pop-up__svg > .pop-up__svg-fill {
  stroke: rgba(231, 74, 59, 1);
}

.pop-up__input:focus {
  border-color: var(--accent);
}

.pop-up__textarea {
  display: block;
  font-family: 'Montserrat', serif;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  resize: none;
  outline: none;
  height: 91px;
  padding: 14px 18px 0;
}

.pop-up__textarea::placeholder {
  color: #4040404d;
}

.pop-up__svg {
  pointer-events: none;
}

.pop-up__svg-fill {
  transition: stroke 300ms;
}

.pop-up__input:focus + .pop-up__svg > .pop-up__svg-fill {
  stroke: var(--accent);
}
.pop-up__input:not(:placeholder-shown):invalid + .pop-up__svg > g > .pop-up__svg-fill {
  stroke: rgba(231, 74, 59, 1);
}

.pop-up__input:focus + .pop-up__svg > g > .pop-up__svg-fill {
  stroke: var(--accent);
}

.pop-up__input-box {
  position: relative;
}

.pop-up__svg {
  position: absolute;
  top: 50%;
  left: 18px;
  transform: translateY(-50%);
}

.pop-up__checkbox {
  margin-top: 18px;
  margin-bottom: 32px;
}

.pop-up__checkbox-input:checked + .pop-up__checkbox-label > .pop-up__checkbox-style {
  background-color: var(--accent);
  border-color: transparent;
}

.pop-up__checkbox-input:focus-visible + .pop-up__checkbox-label > .pop-up__checkbox-style {
  border-color: var(--accent);
}

.pop-up__checkbox-text {
  font-size: 12px;
  line-height: 1.33;
  color: #4040404d;
  padding-left: 32px;
}
.pop-up__checkbox-style {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 20px;
  height: 20px;
  border: 1px solid rgba(17, 17, 17, 0.14);
  border-radius: 6px;
  margin-right: 12px;
  cursor: pointer;
  transition: border-color 300ms, background-color 300ms;
}

.pop-up__checkbox-privacy {
  color: var(--accent);
  text-decoration: underline;
  padding-left: 32px;
}

.pop-up__btn {
  margin-bottom: 32px;
}

/* ! footer */

.footer {
  background-color: var(--violet);
}

.footer__inner {
  padding: 32px 0;
}
.footer__title {
  font-size: 24px;
  line-height: 1.17;
  font-weight: 500;
  text-transform: none;
  text-align: left;
  max-width: 300px;
  margin: 0;
  color: var(--white);
}
.address {
  font-style: normal;
  color: var(--white);
  margin-bottom: 32px;
  line-height: 1.3;
}
.address__title {
  font-weight: 500;
  margin-bottom: 14px;
}
.address__list {
  line-height: 1.3;
}
.address__item:not(:last-of-type) {
  margin-bottom: 4px;
}
.footer__social-media {
  margin-bottom: 64px;
}

.footer__info {
  position: relative;
}

.footer__info::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  background-color: #ffffff1a;
  bottom: -32px;
}

.footer__social-media-title {
  font-weight: 500;
  line-height: 1.3;
  color: var(--white);
  margin-bottom: 14px;
}

.footer .nav {
  display: block;
  color: var(--white);
  margin-bottom: 32px;
}
.footer .nav__item:not(:last-of-type) {
  margin-bottom: 18px;
}

.footer__form {
  display: flex;
  align-items: center;
  gap: 8px;
}
.footer__form-input {
  border: 1.5px solid #ffffff26;
  border-radius: 30px;
  padding: 0 18px;
  width: 100%;
  color: var(--white);
  height: 45px;
  transition: border-color 300ms;
}

.footer__form-input-box {
  position: relative;
}

.footer__form-input:focus {
  border-color: var(--accent);
}
.footer__form-input:not(:placeholder-shown):invalid {
  border-color: rgba(231, 74, 59, 1);
}
.footer__form-input:not(:placeholder-shown):invalid + .invalid {
  opacity: 1;
}
.footer__form-btn {
  padding: 0 24px;
  height: 45px;
}
.footer .invalid {
  right: 18px;
}

/* ! media */

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero__inner {
    background-image: linear-gradient(rgba(17, 17, 17, 0.4), rgba(17, 17, 17, 0.4)),
      url(../images/hero-bg_mob@2x.webp);
  }
  .made__video {
    background-image: url(../images/made_mob@2x.webp);
  }
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }

  .section {
    margin-bottom: 100px;
  }

  .header__inner {
    padding-bottom: 20px;
  }

  .menu-btn {
    display: none;
  }

  .nav {
    display: block;
  }

  .nav__list {
    display: flex;
    gap: 20px;
  }

  .header .social-media {
    display: flex;
  }

  .header .social-media__link:focus,
  .header .social-media__link:hover,
  .header .social-media__link:active {
    color: var(--accent);
    border-color: rgba(253, 146, 34, 0.1);
  }

  .header .social-media__svg {
    fill: currentColor;
  }

  .hero {
    margin-bottom: 40px;
  }

  .hero__inner {
    height: 890px;
    padding: 40px;
    background-image: linear-gradient(rgba(17, 17, 17, 0.4), rgba(17, 17, 17, 0.4)),
      url(../images/hero-bg_tab@1x.webp);
  }

  .hero__title {
    font-size: 28px;
    max-width: 484px;
  }

  .btn {
    padding: 14px 40px;
  }

  .scroll-btn {
    font-size: 14px;
    line-height: 1.33;
    gap: 14px;
  }

  .scroll-btn__svg-box {
    width: 38px;
    height: 38px;
  }

  .scroll-btn__svg {
    width: 22px;
    height: 22px;
  }

  .features {
    padding: 50px 0;
  }

  .features__list {
    display: flex;
    gap: 44px 88px;
    flex-wrap: wrap;
  }

  .features__item {
    width: calc((100% - 88px) / 2);
    margin-bottom: 0;
  }

  .features__item:last-of-type {
    min-height: 244px;
  }

  .h2 {
    font-size: 24px;
    line-height: 1.17;
    max-width: 411px;
    padding-bottom: 50px;
  }

  .components__item {
    width: calc((100% - 32px) / 2);
  }

  .components__item-optional {
    display: list-item;
  }

  .components__list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
  }

  .container.made-container {
    max-width: 614px;
    padding: 0;
  }

  .made__video {
    background-image: url(../images/made_tab@1x.webp);
    height: 400px;
  }

  .made__subtitle {
    max-width: 350px;
    margin-bottom: 28px;
  }

  .made__text {
    padding-right: 70px;
  }

  .made__descr {
    padding: 32px;
  }

  .products__list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .products__item {
    width: calc((100% - 32px) / 2);
  }

  .top-sellers__item {
    width: calc((100% - 16px) / 2);
  }

  .top-sellers__item.second {
    display: flex;
  }

  .top-sellers__list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }

  .top-sellers__box:hover .top-sellers__text {
    opacity: 1;
    backdrop-filter: blur(15px);
  }

  .reviews__list {
    display: flex;
    gap: 16px;
    margin-bottom: 50px;
  }

  .reviews__item {
    width: calc((100% - 16px) / 2);
    padding: 56px 16px 24px;
  }

  .reviews__item.second {
    display: block;
  }

  .pop-up__content {
    width: 517px;
    height: 794px;
    padding: 0 40px;
  }

  .pop-up__close {
    top: 24px;
    right: 24px;
  }

  .pop-up__title {
    padding-bottom: 40px;
    margin-top: 40px;
    max-width: 305px;
  }

  .pop-up__label {
    margin-bottom: 8px;
  }

  .pop-up__input {
    height: 68px;
    padding: 0 62px 0;
    font-size: 20px;
  }
  .pop-up__svg {
    width: 24px;
    height: 24px;
    left: 24px;
  }

  .invalid {
    width: 24px;
    height: 24px;
    right: 24px;
  }

  .pop-up__form-box {
    margin-bottom: 18px;
  }

  .pop-up__textarea {
    height: 137px;
    padding: 22px 24px 0;
    font-size: 18px;
  }

  .pop-up__checkbox-text {
    font-size: 14px;
    line-height: 1.2;
  }

  .pop-up__checkbox-privacy {
    padding-left: 0;
  }

  .pop-up__checkbox-label {
    display: flex;
    align-items: center;
  }

  .pop-up__checkbox {
    margin-top: 0;
    margin-bottom: 40px;
  }

  .pop-up__btn {
    margin-bottom: 40px;
  }

  .footer__inner {
    padding: 50px 0;
  }

  .footer__title {
    line-height: 1.2;
    margin-right: 52px;
    order: 1;
    padding-bottom: 0;
  }

  .footer__social-media {
    order: 2;
    margin-right: 40px;
    margin-bottom: 0;
  }

  .address {
    order: 3;
    margin-bottom: 0;
  }

  .footer__info {
    display: flex;
    margin-bottom: 74px;
  }

  .footer__info::after {
    bottom: -54px;
  }

  .footer__nav-form-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .footer .nav__list {
    margin-bottom: 0;
    gap: 16px;
  }
  .footer .nav {
    margin-bottom: 0;
  }

  .footer__form-input {
    width: 232px;
  }

  .footer__form-btn {
    padding: 0 28px;
  }

  .footer .nav__item:not(:last-of-type) {
    margin-bottom: 0;
  }

  .footer__title {
    font-size: 28px;
  }

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero__inner {
      background-image: linear-gradient(rgba(17, 17, 17, 0.4), rgba(17, 17, 17, 0.4)),
        url(../images/hero-bg_tab@2x.webp);
    }
    .made__video {
      background-image: url(../images/made_tab@2x.webp);
    }
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }

  .section {
    margin-bottom: 120px;
  }

  .nav-media-wrapper {
    gap: 90px;
  }

  .nav__list {
    gap: 24px;
  }

  .logo {
    font-size: 18px;
  }

  .logo__svg {
    width: 24px;
    height: 24px;
  }

  .hero {
    margin-bottom: 80px;
  }

  .hero__inner {
    height: calc(100vh - 102px);
    background-image: linear-gradient(rgba(17, 17, 17, 0.4), rgba(17, 17, 17, 0.4)),
      url(../images/hero-bg_desk@1x.webp);
  }

  .features__item {
    position: relative;
    width: calc((100% - 176px) / 3);
  }

  .features__item:not(:last-of-type)::after {
    position: absolute;
    content: '';
    height: 124px;
    width: 1px;
    background-color: rgba(255, 255, 255, 0.5);
    top: 50%;
    right: -44px;
    transform: translateY(-50%);
  }

  .features__item-text {
    line-height: 1.33;
  }

  .components__item {
    width: calc((100% - 96px) / 4);
  }
  .components__list {
    gap: 24px 32px;
  }
  .components__img {
    padding: 28px 23px 36px;
  }
  .made__video {
    background-image: url(../images/made_desk@1x.webp);
    margin-bottom: 0;
  }
  .container.made-container {
    max-width: 1200px;
    padding: 0 32px;
  }
  .made__inner {
    display: flex;
    gap: 20px;
  }
  .made__descr {
    max-width: 516px;
  }
  .made__text {
    padding-right: 27px;
  }
  .products__box {
    padding: 32px 20px;
  }
  .products__list {
    gap: 24px 18px;
  }
  .products__item {
    width: calc((100% - 54px) / 4);
  }
  .top-sellers__item.third {
    display: flex;
  }
  .top-sellers__item {
    width: calc((100% - 32px) / 3);
  }
  .reviews__list {
    gap: 28px;
  }

  .reviews__item {
    width: calc((100% - 56px) / 3);
    padding: 56px 24px 24px;
  }

  .reviews__item.third {
    display: block;
  }
  .footer__title {
    margin-right: auto;
  }
  .footer__social-media {
    margin-right: 50px;
  }
  .footer__form-btn {
    height: 52px;
  }
  .footer__form-input {
    height: 52px;
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero__inner {
      background-image: linear-gradient(rgba(17, 17, 17, 0.4), rgba(17, 17, 17, 0.4)),
        url(../images/hero-bg_desk@2x.webp);
    }
    .made__video {
      background-image: url(../images/made_desk@2x.webp);
    }
  }
}

@media only screen and (max-width: 374.98px) {
  .hero .btn {
    padding: 12px 14px;
  }
}
