:root {
  --accent: #fd9222;
  --white: #fff;
  --body-text: #111111;
  --violet: #1e1823;
  --gray: #4c4c4c;
  --beige: #fcf1e0;
  --light: #fafafa;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: var(--body-text);
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

svg {
  display: block;
}

img {
  display: block;
}

ul {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
}

.btn {
  font-family: 'Montserrat', serif;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 600;
  border-radius: 100px;
  padding: 12px 28px;
  transition: background-color 300ms, color 300ms, border-color 300ms;
}

.container {
  max-width: 375px;
  min-width: 320px;
  padding: 0 20px;
  margin: 0 auto;
}

.section {
  margin-bottom: 80px;
}

/* ! header */

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 14px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: 700;
  font-style: italic;
  line-height: 1.3;
  letter-spacing: -0.03em;
}

.nav-media-wrapper {
  display: flex;
  gap: 28px;
  align-items: center;
}

.nav {
  display: none;
  font-weight: 500;
}

.header .social-media {
  display: none;
}

.menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ! mobile-menu */

.mobile-menu {
  display: flex;
  flex-direction: column;
  padding: 116px 20px 20px;
  position: fixed;
  top: 0;
  right: 0;
  width: 220px;
  height: 100%;
  background-color: var(--violet);
  transform: translateX(100%);
  transition: transform 300ms ease-in-out;
}
.mobile-menu.is-open {
  transform: translateX(0);
}

.mobile-menu__close {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.mobile-menu__list {
  font-weight: 500;
  line-height: 1.14;
  color: var(--white);
  margin-bottom: auto;
}

.mobile-menu__item:not(:last-of-type) {
  margin-bottom: 24px;
}

.current {
  color: var(--accent);
}

.social-media {
  display: flex;
  gap: 14px;
}

.social-media__item {
  width: 40px;
  height: 40px;
}

.social-media__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  cursor: pointer;

  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  transition: border-color 300ms, color 300ms;
}

.header .social-media__link {
  border: 1px solid rgba(17, 17, 17, 0.1);
}

.social-media__svg-fill {
  transition: fill 300ms;
}

.social-media__link:focus .social-media__svg-fill,
.social-media__link:hover .social-media__svg-fill,
.social-media__link:active .social-media__svg-fill {
  fill: var(--accent);
}

.social-media__link:hover,
.social-media__link:focus,
.social-media__link:active {
  border-color: rgba(253, 146, 34, 0.1);
}

/* ! hero */

.hero__inner {
  height: calc(100vh - 82px);
  max-height: 620px;
  background-image: linear-gradient(rgba(17, 17, 17, 0.4), rgba(17, 17, 17, 0.4)),
    url(../images/hero-bg_mob@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.hero__title {
  margin-top: auto;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: -0.03em;
  color: var(--white);
  margin-bottom: 32px;
  max-width: 293px;
}
.hero__btn-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 32px 14px;
}

.yellow-btn {
  color: var(--white);
  background-color: var(--accent);
}

.yellow-btn:hover,
.yellow-btn:focus,
.yellow-btn:active {
  color: var(--accent);
  background-color: rgba(252, 241, 224, 1);
}

.white-btn {
  color: var(--white);
  border: 1px solid var(--white);
}

.white-btn:hover,
.white-btn:focus,
.white-btn:active {
  color: #fd9222;
  border-color: #fd9222;
}

.scroll-btn {
  display: flex;
  align-items: center;
  color: var(--white);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  font-weight: 500;
  transition: color 300ms;
}

.scroll-btn:hover,
.scroll-btn:focus,
.scroll-btn:active {
  color: var(--accent);
}

.scroll-btn:hover .scroll-btn__svg-box,
.scroll-btn:focus .scroll-btn__svg-box,
.scroll-btn:active .scroll-btn__svg-box {
  background-color: var(--accent);
}

.scroll-btn__svg-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: var(--white);
  margin-left: 12px;
  transition: color 300ms, background-color 300ms;
}

.scroll-btn__svg-fill {
  transition: fill 300ms;
}

.scroll-btn:hover .scroll-btn__svg-fill,
.scroll-btn:focus .scroll-btn__svg-fill,
.scroll-btn:active .scroll-btn__svg-fill {
  fill: var(--white);
}


@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero__inner {
    background-image: linear-gradient(rgba(17, 17, 17, 0.4), rgba(17, 17, 17, 0.4)),
      url(../images/hero-bg_mob@2x.jpg);
  }
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .header__inner {
    padding-bottom: 20px;
  }
  .menu-btn {
    display: none;
  }
  .nav {
    display: block;
  }

  .nav__list {
    display: flex;
    gap: 20px;
  }
  .header .social-media {
    display: flex;
  }
  .header .social-media__link:focus,
  .header .social-media__link:hover,
  .header .social-media__link:active {
    color: var(--accent);
    border-color: rgba(253, 146, 34, 0.1);
  }

  .header .social-media__svg {
    fill: currentColor;
  }
  .hero__inner {
    height: calc(100vh - 102px);
    padding: 40px;
    background-image: linear-gradient(rgba(17, 17, 17, 0.4), rgba(17, 17, 17, 0.4)),
      url(../images/hero-bg_tab@1x.jpg);
  }
  .hero__title {
    font-size: 28px;
    max-width: 484px;
  }
  .btn {
    padding: 14px 40px;
  }
  .scroll-btn {
    font-size: 14px;
    line-height: 1.3;
    margin-left: auto;
  }
  .scroll-btn__svg-box {
    width: 38px;
    height: 38px;
    margin-left: 14px;
  }
  .scroll-btn__svg {
    width: 22px;
    height: 22px;
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero__inner {
      background-image: linear-gradient(rgba(17, 17, 17, 0.4), rgba(17, 17, 17, 0.4)),
        url(../images/hero-bg_tab@2x.jpg);
    }
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
  .nav-media-wrapper {
    gap: 90px;
  }
  .logo {
    font-size: 18px;
  }
  .hero__inner {
    height: calc(100vh - 102px);
    background-image: linear-gradient(rgba(17, 17, 17, 0.4), rgba(17, 17, 17, 0.4)),
      url(../images/hero-bg_desk@1x.jpg);
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero__inner {
      background-image: linear-gradient(rgba(17, 17, 17, 0.4), rgba(17, 17, 17, 0.4)),
        url(../images/hero-bg_desk@2x.jpg);
    }
  }
}

@media only screen and (max-width: 374.98px) {
  .btn {
    padding: 12px 14px;
  }
}
